<div class="mb-12 pb-4 font-bold text-lg text-black dark:text-slate-100 border-b border-b-slate-200 dark:border-b-slate-600">
  <%= render "title" %>
</div>

<div data-controller="media-embeds">
<%= render @post %>
</div>
