<div class="flex items-center justify-center w-20 h-20 border border-slate-200 dark:border-slate-800 shadow-sm rounded-full">
  <% if blog.avatar&.attached? %>
    <%= image_tag resized_image_url(blog.avatar, width: 160, height: 160), class: "object-cover rounded-full w-full h-full", alt: "#{blog.title} Avatar" %>
  <% else %>
    <img class="object-cover rounded-full w-full h-full hidden" src="" alt="Avatar preview">
    <div class="avatar-placeholder">
      <%= inline_svg_tag "icons/person.svg", class: "w-16 h-16 text-slate-400 dark:text-slate-600" %>
    </div>
  <% end %>
</div>