<div class="mt-4 mb-8" data-controller="theme-selector">
  <%= render "/app/settings/appearance/theme_presets", form: form %>

  <div data-theme-selector-target="customThemeFields" class="mt-8 <%= 'hidden' unless @blog.custom_theme? %>">
    <%= render "/app/settings/appearance/theme_custom_colours", form: form %>
  </div>
</div>
