<div id="embedded-posts-<%= frame_id %>" class="h-feed" data-controller="media-embeds lightbox">
  <%= render partial: "blogs/posts/stream_post", collection: posts, as: :post %>
</div>
<% if has_next %>
  <%= turbo_frame_tag "embedded-posts-#{frame_id}-page-2",
      src: blog_embedded_posts_path(page: 2, style: "stream", frame_id: frame_id,
            page_frame_id: "embedded-posts-#{frame_id}-page-2", **filter_params),
      loading: :lazy %>
<% end %>
