<p>Hi there 👋</p>


<p>I noticed you cancelled your Pagecord account. Sorry it wasn't for you. Was there something specific you were hoping Pagecord could do, that it didn't?</p>

<p>Any feedback would be really helpful so I continue to make Pagecord the best it can be!</p>

<p>Thanks so much,<br>
Olly</p>

<p>--<br>
Creator, Pagecord</p>

