<p>Hi there 👋</p>

<p>I noticed you cancelled your Pagecord subscription. Sorry to see you go! I wondered if you had any feedback about the product and why it wasn't for you? This sort of feedback is really valuable, so I'd appreciate anything you can add.</p>

<p>Anything I can do to convince you to stick around?</p>

<p>Thanks so much,<br>
Olly</p>

<p>--<br>
Creator, Pagecord</p>
