<div class="titlebar mt-4 flex items-center justify-between gap-x-4">
  <% if @blog.avatar&.attached? %>
    <div class="flex w-full items-top justify-between gap-x-4">
      <div class="w-16 h-16">
        <%= link_to blog_home_url(@blog), aria: { label: "#{@blog.title} Home" } do %>
          <%= image_tag resized_image_url(@blog.avatar, width: 80, height: 80), class: "border border-slate-200 dark:border-slate-800 shadow-sm object-cover rounded-full w-16 h-16", alt: "#{@blog.title} Avatar" %>
        <% end %>
      </div>

      <div class="text-end">
        <div class="font-bold text-lg">
          <%= render "blogs/blog_title" %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="font-bold text-lg">
      <%= render "blogs/blog_title" %>
    </div>
  <% end %>
</div>