<% if @blog.email_subscriptions_enabled? && @blog.user.subscribed? %>
  <div class="email mt-6 mb-2 bg-slate-100 dark:bg-slate-800 text-slate-600 dark:text-slate-400 p-4 rounded-lg sm:mx-12 text-sm">
    <%= turbo_frame_tag "email_subscriber_form" do %>
      <%= render "blogs/email_subscribers/form" %>
    <% end %>
  </div>
<% end %>