<% unless flash.empty? %>
<div class="flash-container hidden pointer-events-none" data-controller="fade">
  <div class="flash-wrapper">
    <div class="flash-message">
      <div class="flash-message-text">
        <% flash.each do |flash_type, message| %>
          <%= message %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>