<% has_social_links = @blog.social_links.present? %>
<div class="social-links">
  <% if @blog.social_links.present? %>
    <div class="flex justify-end items-center gap-x-3 sm:gap-x-2">
    <% @blog.social_links.each do |social_link| %>
        <%= link_to social_link_url(social_link), class: "social-link" do %>
          <%= inline_svg_tag "icons/social/#{social_link.platform.downcase}.svg",
              class: "w-4 h-4" %>
        <% end %>
    <% end %>
    </div>
  <% end %>
</div>