<div class="top-nav">
  <div class="flex justify-end items-center gap-x-3">
    <% @blog.navigation_items.ordered.each do |item| %>
      <% if item.is_a?(SocialNavigationItem) %>
        <%= link_to navigation_item_url(item), class: "social-link", aria: { label: "#{item.platform.titleize} Link" } do %>
          <%= inline_svg_tag "icons/social/#{item.platform.downcase}.svg", class: "w-4 h-4" %>
        <% end %>
      <% else %>
        <%= link_to item.label, navigation_item_url(item), class: "social-link hover:underline" %>
      <% end %>
    <% end %>
  </div>
</div>