<%= render "blogs/header", hide_email_form: true %>

<div class="mt-12 text-center rounded-lg shadow-md border border-slate-200 dark:border-slate-600 dark:bg-slate-800 bg-slate-50 max-w-[450px] mx-auto p-8">
  <% if @subscriber.destroyed? %>
    You're now unsubscribed from <span class="font-bold"><%= @blog.display_name %></span> 👋
  <% else %>
    <div>
      To unsubscribe from <span class="font-bold"><%= @blog.display_name %></span>, click the link below.
    </div>
    <div class="mt-4">
      <%= button_to "Unsubscribe", email_subscriber_unsubscribe_path_for(@subscriber), class: "text-sm font-medium underline", data: { turbo: false } %>
    </div>
  <% end %>
</div>