<%= render "blogs/header", hide_email_form: true %>

<div class="confirmation-card confirmation-page">
  <% if @subscriber.destroyed? %>
    <div class="confirmation-text">
      <%= t('email_subscribers.unsubscribes.success_message', blog_name: @blog.display_name) %>
    </div>
  <% else %>
    <div class="confirmation-text">
      <%= t('email_subscribers.unsubscribes.confirm_message', blog_name: @blog.display_name) %>
    </div>
    <div class="confirmation-button">
      <%= button_to t('email_subscribers.unsubscribes.unsubscribe_button'), email_subscriber_unsubscribe_path(@subscriber.token),
          data: { turbo: false } %>
    </div>
  <% end %>
</div>