<p>Hi there</p>

<p>You signed up for Pagecord in <%= @blog.created_at.strftime("%B") %> but it looks like you haven't had a chance to make it your own yet.</p>

<p>It only takes a minute to get started. You can:</p>

<ul>
  <li>Pick a colour scheme and typeface</li>
  <li>Create a Home page, an About page, or any page you like</li>
  <li>Take full control of the design with custom CSS</li>
</ul>

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="padding-top:5px; padding-bottom:5px;">
  <tbody>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <%= link_to "Log in to get started", app_onboarding_url %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>If you've decided Pagecord isn't for you, I'd love to know what's missing or could be improved. If you have a minute, please reply to this email to share your thoughts.</p>

<%= image_tag "signature.jpg", style: "margin-top: 8px; text-align: left; width:120px;" %>

<p>Olly – creator of Pagecord</p>
