<p>Hi there</p>

<p>
You signed up for Pagecord in <%= @blog.created_at.strftime("%B") %> but I noticed you haven't published any posts to your blog yet. I
thought I'd check in personally to see if there's anything you need to get started?
</p>

<p>
Creating a post in Pagecord is as easy as sending an email from <%= @user.email %> to <%= mail_to @blog.delivery_email %>.
If you prefer, you can log in and use the rich text editor which now allows you to save draft posts too.
</p>

<p>
People sometimes struggle with what to write about (me too!), but try not
to overthink it. Pagecord is really flexible — as well as long-form posts, you can post short updates like a photo from a recent trip, a link to an album you've discovered (Spotify, Apple Music and Bandcamp links <a href="https://blog.pagecord.com/embed-spotify-and-youtube-content-in-your-posts-5f5e271">
  are automatically embedded</a>), or an interesting article you recently read. Kind of like you would with social media, but without the distraction!
</p>

<p>
You can now <a href="https://blog.pagecord.com/create-a-custom-home-page-for-your-pagecord-blog">create a custom home page</a>, as well pages like "About" or "Now" to customise your website. You can also add social links which appear as icons at the top of your blog.
</p>

<p>
New features are being added to Pagecord all the time. Stay tuned to <a href="https://blog.pagecord.com">the official blog</a> for the latest updates.
</p>

<p>
Don't hestitate to <a href="mailto:olly@pagecord.com">get in touch</a> if you have any feedback or questions. Until then, happy blogging!
</p>

<%= image_tag "signature.jpg", style: "margin-top: 8px; text-align: left; width:120px;" %>

<p>Olly – creator of Pagecord</p>
