<p>Hi there</p>

<p>You signed up for Pagecord in <%= @blog.created_at.strftime("%B") %> but I noticed you haven't published anything yet. I thought I'd check in – is there anything I can help with?</p>

<p>Don't overthink your first post. It can be anything – a photo, a link you liked, a few sentences about your day. There are no rules.</p>

<p>If you want to explore what Pagecord can do, the <a href="https://help.pagecord.com">Help Guide</a> has everything.</p>

<p>Just reply to this email if you have any questions. I read every one.</p>

<%= image_tag "signature.jpg", style: "margin-top: 8px; text-align: left; width:120px;" %>

<p>Olly – creator of Pagecord</p>
