<p>Hi there 👋</p>

<p>Thanks so much for signing up to Pagecord! Your blog is now live at <a href="<%= blog_home_url(@blog) %>"><%= blog_home_url(@blog) %></a>.</p>

<p>You've got 14 days of free access to all premium features – custom domains, analytics, image uploads and more. Have a play around!</p>

<p>Check out the <a href="https://help.pagecord.com">Help Guide</a> if you want to explore everything Pagecord can do.</p>

<p>I'd love to know what you think – just reply to this email!</p>

<%= image_tag "signature.jpg", style: "margin-top: 8px; text-align: left; width:120px;" %>

<p>Olly – creator of Pagecord</p>
