<% content_for :title, "Pagecord - Sign up" %>

<% if ENV["DISABLE_SIGNUPS"] %>
  <p class="text-center">
    Signups are currently disabled. Please check back later.
  </p>
<% else %>
  <h1 class="text-2xl font-bold mb-2">Let's create your Pagecord blog!</h1>
  <p class="text-slate-600 dark:text-slate-400">
    To create your blog, choose a subdomain and enter your email.
  </p>

  <%= render "form" %>
<% end %>