<% content_for :title, "Pagecord - Sign up" %>

<% if ENV["DISABLE_SIGNUPS"] %>
  <p class="text-center">
    Signups are currently disabled. Please check back later.
  </p>
<% else %>
  <p>
    To create your account, choose a username and enter your email address.
  </p>
  <%= render "form" %>
<% end %>