<p class="text-center">
  Thanks for signing up! 🙏
</p>
<p class="text-center mt-8">
  We've sent an email to <%= @user&.email || "the address you entered" %> with a link to verify your account. Please check your inbox (and spam folder, just in case!)
</p>
