<div class="max-w-screen-lg mx-auto">
    <h3 class="font-bold text-lg mb-2">Cancel Subscription</h3>

    <p>
      After cancelling, you will stay on Pagecord Premium until <strong><%= @subscription.next_billed_at.to_date.to_formatted_s(:long) %></strong>. After that, your account will be downgraded to the free tier. This  you will lose access to image attachments, custom domains, custom titles and human customer support.
    </p>

    <p class="mt-4">
      Are you sure about this?
    </p>

    <div class="flex items-center mt-8">
      <%= button_to "I understand. Cancel my subscription", app_settings_subscription_path(@subscription), method: :delete, class: "btn btn-danger", data: { turbo_confirm: "Are you absolutely sure?" } %>

      <%= link_to "I don't want to cancel", app_settings_path, class: "ms-4 text-sm font-medium underline" %>
    </div>
  </div>
</div>