<% unless flash.empty? %>
<div class="hidden pointer-events-none" data-controller="fade" data-fade-duration-value="<%= flash[:error] ? 6000 : 3000 %>">
  <div class="absolute w-full top-4 left-1/2 -translate-x-1/2 justify-center z-10">
    <div class="max-w-[300px] sm:max-w-[400px] px-4 py-2 mx-auto rounded-md bg-slate-200 dark:bg-slate-700 shadow-md">
      <div class="dark:text-slate-200 text-slate-800 text-center">
        <% flash.each do |flash_type, message| %>
          <%= message %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>