<p>
  Your Pagecord is live at <%= link_to user_home_url(@user), user_home_url(@user), class: "font-semibold underline" %>
</p>
<p class="mt-4">
  To publish a new post, send an email from <span><%= @user.email %></span>
  to <%= mail_to @user.delivery_email, class: "underline font-semibold" %>.
</p>
