<div class="mt-2 mb-8 pb-2 border-b border-b-slate-200 dark:border-b-slate-500">
    <nav class="flex">
      <ul role="list" class="flex min-w-full flex-none gap-x-6 leading-6 text-slate-400">
        <li>
          <%= link_to "Posts", app_posts_path, class: nav_class_for("posts") %>
        </li>
        <li>
          <%= link_to "Feed", app_feed_path, class: nav_class_for("feed") %>
        </li>
        <li>
          <%= link_to "Follows", app_followings_path, class: nav_class_for("followings") %>
        </li>
        <li>
          <%= link_to "Settings", app_settings_path, class: nav_class_for("settings") %>
        </li>
      </ul>
    </nav>
</div>
