<div class="mt-4 flex gap-x-4 justify-end text-slate-800 dark:text-slate-200">
  <% if @pagy.prev %>
    <%== pagy_prev_a(@pagy, text: "Newer") %>
  <% end %>
  <% if @pagy.next %>
    <%== pagy_next_a(@pagy, text: "Older") %>
  <% end %>
</div>
