<%
  track_analytics = !Rails.env.production? || (Rails.env.production? && ["blog", "olly"].include?(@blog&.subdomain)) 
  if track_analytics
%>
  <% if local_assigns[:post] %>
    <% post_token = post.token %>
  <% else %>
    <% post_token = nil %>
  <% end %>

  <div data-controller="analytics" 
      data-analytics-hit-url-value="<%= blog_analytics_hit_path %>"
      <% if post_token %>data-analytics-post-token-value="<%= post_token %>"<% end %>></div>
<% end %>
