<% if local_assigns[:post] %>
  <% post_token = post.token %>
<% else %>
  <% post_token = nil %>
<% end %>

<div data-controller="pv"
     data-pv-pth-value="<%= blog_page_views_path %>"
     <% if post_token %>data-pv-post-token-value="<%= post_token %>"<% end %>>
</div>

