<div class="flex flex-col">
  <% posts.each do |post| %>
    <div class="flex gap-x-2 mb-1">
      <div class="text-[var(--color-text-muted)] w-32 flex-shrink-0">
        <%= local_time post.published_at.to_date, format: :post_date %>
      </div>
      <div class="text-[var(--color-text-heading)]">
        <%= link_to post.display_title, post_path(post), class: "font-medium hover:underline" %>
      </div>
    </div>
  <% end %>
</div>
