Hi there,

You previously signed up for a free <a href="https://pagecord.com">Pagecord</a> account. Thanks for your interest!

I'm writing to let you know that, from today, Pagecord no longer offers a free plan. It's a shame
but the reality is that free publishing platforms are an electromagnet for spammers and linkjackers
so it's just not worth the hassle.

If you'd like to continue using Pagecord, you can subscribe for a bargain $<%= Subscription.price %>/year
which gives you additional features like image attachments, custom domains, custom titles and human customer support (👋).

Either way, thanks for kicking the tyres!

-- Olly
