<p>
  Hi there,
</p>
<p>
  You previously signed up for a free <a href="https://pagecord.com">Pagecord</a> account. Thanks for your interest!
</p>
<p>
  I'm writing to let you know that, from today, Pagecord no longer offers a free plan. It's a shame
  but the reality is that free publishing platforms are an electromagnet for spammers and linkjackers
  so it's just not worth the hassle.
</p>
<p>
  If you'd like to continue using Pagecord, you can subscribe for a bargain $<%= Subscription.price %>/year
  which gives you additional features like image attachments, custom domains, custom titles and human customer support (👋).
  If you don't subscribe, your account will be deleted in the next few days.
</p>
<p>
  Whatever you choose, thanks for kicking the tyres!
</p>
<p>
  -- Olly
</p>

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="padding-top:5px; padding-bottom:5px;">
  <tbody>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <%= link_to app_subscriptions_url do %>
                  Keep my account
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

