<p>Hi there 👋</p>

<p>Just a heads up – your free trial of Pagecord Premium ends in a few days. After that, you'll still be able to use Pagecord for free, but premium features like custom domains, analytics and image uploads won't be available.</p>

<p>If you'd like to keep them, you can <a href="https://pagecord.com/pricing">subscribe to Premium</a>. It's great value and helps support Pagecord!</p>

<p>Of course, you can keep using Pagecord for free – no pressure at all!</p>

<p>If you have any questions, just reply to this email. I'm always happy to help.</p>

<%= image_tag "signature.jpg", style: "margin-top: 8px; text-align: left; width:120px;" %>

<p>Olly – creator of Pagecord</p>
