<p>Hi there 👋</p>

<p>Your free trial of Pagecord Premium has ended. Your blog is still live – you just won't have access to premium features like custom domains, analytics and image uploads.</p>

<div class="callout">
  You can <a href="https://pagecord.com/pricing">subscribe to Premium</a> for only <strong>$<%= @price %>/year or $<%= @monthly_price %>/month</strong> to get them back. It's great value and helps support Pagecord!
</div>

<p>Of course, you're welcome to keep using Pagecord for free.</p>

<p>If you have any questions, just reply to this email.</p>

<%= image_tag "signature.jpg", style: "margin-top: 8px; text-align: left; width:120px;" %>

<p>Olly – creator of Pagecord</p>
