<div class="prose dark:prose-invert mb-12">
  <h2 class="text-center sm:text-start">Effortless blogging from your inbox</h2>

  <p>
    Pagecord is a minimalist blogging app managed entirely by email.
    It's great for long-form writing, but also for micro-blogging your thoughts.
  </p>
  <p>
    Compose in your favourite email editor and click send. Pagecord does the rest.
  </p>

  <div class="mt-8 text-center not-prose">
    <%= link_to new_signup_path do %>
      <div class="mt-2 inline-flex font-semibold p-4 rounded-lg shadow-sm text-white bg-bmc-pink">It's free! Sign up now!</div>
    <% end %>
  </div>

  <h2 class="text-center sm:text-start">How it works</h2>

  <p>
    All you need is an email account. No new tools to wrangle. No password to forget.
  </p>
  <p>
    Write your posts in your email client and send them to the unique
    Pagecord email address we give you. That's it! Your posts will be published automatically.
  </p>
  <p>
    Watch the video below to see it in action. Also check out <a href="https://pagecord.com/pagecord">the Pagecord page</a> for an example.
  </p>
  <video class="w-full max-h-[500px] dark:border dark:border-slate-800 bg-black" controls poster="https://d1q3gzkzfltpo9.cloudfront.net/pagecord-intro-cover.png">
    <source src="https://d1q3gzkzfltpo9.cloudfront.net/pagecord-intro-1.mp4"
            type="video/mp4">
    Sorry, your browser does not support the video tag 😭
  </video>

  <h2 class="text-center sm:text-start">It's free (but you can pay for fancy features)</h2>

  <p>
    Pagecord is <strong>free to use</strong> ✨
  </p>
  <p>
    It costs money to keep the lights on, so you can help out <%= link_to "by donating", "https://buymeacoffee.com/heyolly" %>. You can choose to pay a monthly fee for premium features such as images, link unfurling, analytics, email subscribers and custom domains<sup>*</sup>.
  </p>
  <p>
    <small><sup>*</sup> None of these features exist today, but it would be fun to build them if there's demand. Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSc5AOBhsW_geuGSNjoQaN1luzISJRfaBxhW2tXP31qchPSdNQ/viewform">register your interest</a>!</small>
  </p>

  <div class="mt-12 flex justify-center">
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="heyolly" data-color="#FF5F5F" data-emoji="☕"  data-font="Cookie" data-text="Donate" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
  </div>
</p>
