<h1 class="text-center text-2xl font-bold">Publish your writing using only your email</h1>

<div class="dark:text-slate-400">
  <p class="mt-8">
    Pagecord allows you to publish your writing, for free, using only your email. It's super-simple to use and looks great.
  </p>

  <h1 class="mt-12 text-center text-2xl font-bold dark:text-slate-50">How it works</h1>

  <ol class="list-decimal mt-8 ms-10">
    <li class="mb-2">Pick a username</li>
    <li class="mb-2">Verify your email</li>
    <li class="mb-2">Start writing</li>
  </ol>

  <h1 class="mt-12 text-center text-2xl font-bold dark:text-slate-50">It's free, but you can pay for fancy features</h1>

  <p class="mt-8">
    Pagecord is free to use. It costs money to run, so if you want to support it you can donate or pay for premium features such as images, analytics and custom domains.
  </p>
</div>
