<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= post.display_title %></title>
</head>
<body>
  <% if post == blog.home_page -%>
    <nav>
      <a href="posts.html">Posts</a>
    </nav>
  <% end -%>
  <% if post.title.present? -%>
    <h1><%= post.title %></h1>
  <% end %>
  <%= @post_content %>
</body>
</html>