<div class="mx-auto max-w-2xl w-full text-slate-950 dark:text-slate-50">
  <div class="my-8">
    <p class="mb-6 text-slate-600 dark:text-slate-400">
      Create a custom home page for your blog. The title is optional.
    </p>

    <%= render "form", home_page: @home_page %>
  </div>
</div>
