production:
  <% revision = if (defined?(Rails)); Rails.root.join('REVISION'); end %>
  <% if revision&.exist? %>
  revision: "<%= revision.read.strip[0, 7] %>"
  <% end %>

  send_logs: true
  log_level: "info"

  ignore_errors:
    - ActiveRecord::RecordNotFound
    - ActionController::RoutingError
    - ActionController::UnknownFormat
    - ActionController::InvalidAuthenticityToken