production:
  <% revision = if (defined?(Rails)); Rails.root.join('REVISION'); end %>
  <% if revision&.exist? %>
  revision: "<%= revision.read.strip[0, 7] %>"
  <% end %>

  send_logs: true
  log_level: "info"

  ignore_errors:
    - ActiveRecord::RecordNotFound
    - AbstractController::ActionNotFound
    - ActionController::RoutingError
    - ActionController::UnknownFormat
    - ActionController::InvalidAuthenticityToken
    - ActionController::TooManyRequests
    - URI::InvalidURIError
    - ActionDispatch::Http::MimeNegotiation::InvalidType
    - Rack::Multipart::EmptyContentError
    - Encoding::CompatibilityError