<%= render "blogs/header" %>

<% if @posts.any? %>
  <div class="<%= @blog.layout %>">
    <%= render @blog.layout %>
  </div>
<% else %>
  <div class="empty-state">
    <p>No posts to preview</p>
  </div>
<% end %>
