<p>Hi there 👋</p>

<p>Thanks so much for becoming a <strong>Pagecord Supporter</strong>! That's very generous of you and it genuinely means a lot.</p>

<p>I plan to add a supporters page on the website where I'll list everyone who wants to be featured, with a link back to their blog. If you'd like to feature on this page, let me know.</p>

<p>Thanks again for supporting Pagecord!</p>

<%= image_tag "signature.jpg", style: "margin-top: 8px; text-align: left; width:120px;" %>

<p>Olly – creator of Pagecord</p>
