<div class="flex items-center justify-center w-20 h-20 border dark:border-slate-800 shadow-sm rounded-full">
  <% if blog.avatar&.attached? %>
    <%= image_tag rails_public_blob_url(blog.avatar), class: "object-cover rounded-full w-full h-full" %>
  <% else %>
    <img class="object-cover rounded-full w-full h-full hidden" src="https://pbs.twimg.com/profile_images/1851287065062981632/t6ZpG7Pm_400x400.jpg">
    <div class="avatar-placeholder">
      <%= inline_svg_tag "icons/person.svg", class: "w-16 h-16 text-slate-400 dark:text-slate-600" %>
    </div>
  <% end %>
</div>