[data-theme="berry"] {
  --theme-hue: 330;
  --theme-lightness: 0.97;
  --theme-chroma: 0.04;
  --theme-accent-hue-shift: 50;
}

@media (prefers-color-scheme: dark) {
  [data-theme="berry"] {
    --theme-lightness: 0.19;
    --theme-chroma: 0.05;
  }
}
