[data-theme="lavender"] {
  --theme-hue: 300;
  --theme-lightness: 0.98;
  --theme-chroma: 0.0175;
  --theme-accent-hue-shift: 60;
}

@media (prefers-color-scheme: dark) {
  [data-theme="lavender"] {
    --theme-lightness: 0.17;
  }
}
