[data-theme="mint"] {
  --theme-hue: 120;
  --theme-lightness: 0.98;
  --theme-chroma: 0.03;
  --theme-accent-hue-shift: 100;
}

@media (prefers-color-scheme: dark) {
  [data-theme="mint"] {
    --theme-hue: 140;
    --theme-lightness: 0.19;
    --theme-chroma: 0.02;
   --theme-accent-hue-shift: 80;
 }
}