[data-theme="sand"] {
  --theme-hue: 75;
  --theme-lightness: 0.97;
  --theme-chroma: 0.02;
  --theme-accent-hue-shift: -30;
}

@media (prefers-color-scheme: dark) {
  [data-theme="sand"] {
    --theme-hue: 90;
    --theme-chroma: 0.01;
    --theme-lightness: 0.18;
  }
}
