<div class="post">
  <% if post.title %>
    <h2>
      <%= link_to post.title, post_url(post) %>
    </h2>
  <% end %>

  <div class="post-content">
    <%= strip_video_tags(without_action_text_image_wrapper(post.content.to_s)).html_safe %>
  </div>
  <p class="post-timestamp">
     <%= link_to l(post.published_at_in_user_timezone.to_date, format: :post_date), post_url(post) %>
  </p>
</div>
