<div class="digest">
  <% if @post.title %>
    <h2>
      <%= link_to @post.title, post_url(@post) %>
    </h2>
  <% end %>

  <div class="post-content">
    <%= strip_video_tags(without_action_text_image_wrapper(@post.content.to_s)).html_safe %>
  </div>

  <hr>

  <p class="digest-footer">
    <%= t('email_subscribers.mailers.shared.footer', blog_name: @subscriber.blog.display_name) %>
    <br><br>
    <%= link_to t('email_subscribers.mailers.shared.unsubscribe_link'), email_subscriber_unsubscribe_url_for(@subscriber) %>
  </p>
</div>
