<div class="digest">
  <%= render partial: "post", locals: { post: @post } %>

  <hr>

  <p class="digest-footer">
    <%= t('email_subscribers.mailers.shared.footer', blog_name: @subscriber.blog.display_name) %>
    <br><br>
    <%= link_to t('email_subscribers.mailers.shared.unsubscribe_link'), email_subscriber_unsubscribe_url_for(@subscriber) %>
  </p>
</div>
