<%= render "blogs/header", hide_email_form: true %>

<div class="mt-12 text-center rounded-lg shadow-md border dark:border-slate-600 dark:bg-slate-800 bg-slate-50 w-[450px] mx-auto p-8">
  <div>
    Your subscription to <span class="font-bold"><%= @blog.display_name %></span> is confirmed.
    You'll receive a weekly email digest if new posts are published.
  </div>
  <div class="mt-4">
    <%= link_to "Unsubscribe", email_subscriber_unsubscribe_path_for(@subscriber), class: "text-sm font-medium underline" %>
  </div>
</div>