/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

trix-editor {
  max-width: 100% !important;
}

.trix-minimal {
  .trix-button-group--block-tools,
  .trix-button-group--file-tools,
  .trix-button-group--history-tools,
  .trix-button-group-spacer,
  .trix-button--icon-strike,
  .trix-button--icon-color {
    display: none;
  }
}

.trix-no-attachments {
  .trix-button--icon-attach {
    display: none;
  }
}

/* trix-editor figure {
  margin-bottom: 1.5rem !important;
} */

trix-editor .attachment__caption {
  display: none;
}

/* Workarounds for issues with Trix and Tailwind in dark mode */
@media (prefers-color-scheme: dark) {
  .trix-content {
    color: rgb(203 213 225); /* text-slate-300 */

    strong, b, i, em, a, h1, h2, h3, h4, h5, h6 {
      color: #fff !important;
    }

    pre, code {
      background-color: rgb(2 6 23); /* bg-slate-950 */
    }
    blockquote {
      color: #fff;
    }
  }

  .trix-input--dialog {
    color: black;
  }

  .trix-button-row {
    .trix-button-group {
      background-color: rgb(15 23 42) !important; /* bg-slate-900 */

      .trix-button {
          filter: invert(100%);
        }
    }
  }

  .trix-content {
      background-color: #0f172a;
      border-color: #344155;
  }
}