/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/
trix-toolbar {
  margin-top: 2em;
  position: sticky;
}

trix-toolbar .trix-button.trix-button--icon {
  border: 0;
}

trix-toolbar .trix-button-group {
  border: 0;
}

trix-toolbar .trix-button-group:not(:first-child) {
  margin-left: 0;
}

.trix-button-row {
  margin-left: -0.5em;
}

.trix-content h1 strong {
  font-weight: bold;
}

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

trix-editor {
  max-width: 100% !important;
  padding-bottom: 1.5em;

  .attachment {
    img {
      max-height: 600px !important;
      width: auto;
      display: inline-block;
    }
  }

  span[data-trix-cursor-target="right"] {
    display: block !important;
    height: 0.25em;
  }

  .attachment.attachment--preview {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  li {
    margin: 0.5rem 0 0.5rem 1rem !important;
    &:first-child {
      margin: 0 0 0 1rem !important;
    }
  }

  ol, ul {
    margin: 1.25em 0 1.25em 1.25em !important;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  li::marker {
    color: #5d646f;
  }

  h1 {
    font-weight: 700;
  }

  a {
    font-weight: 500;
    text-decoration: underline;
  }

  blockquote {
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
  }

  pre {
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
    background-color: rgb(2 6 23) !important; /* bg-slate-950 */
    color: rgb(203 213 225); /* text-slate-300 */
    font-size: 0.9rem !important;
  }
}

.trix-minimal {
  .trix-button-group--block-tools,
  .trix-button-group--file-tools,
  .trix-button-group--history-tools,
  .trix-button-group-spacer,
  .trix-button--icon-strike,
  .trix-button--icon-color {
    display: none;
  }
}

.trix-no-attachments {
  .trix-button--icon-attach {
    display: none;
  }
}

trix-editor .attachment__caption {
  display: none;
}

/* Workarounds for issues with Trix and Tailwind in dark mode */
@media (prefers-color-scheme: dark) {
  .trix-content {
    color: rgb(203 213 225); /* text-slate-300 */

    strong, b, i, em, a, h1, h2, h3, h4, h5, h6 {
      color: #fff !important;
    }

    blockquote {
      color: #fff;
    }
  }

  li::marker {
    color: #9ba1aa;
  }

  .trix-input--dialog {
    color: black;
  }

  .trix-button-row {
    .trix-button-group {
      background-color: rgb(15 23 42) !important; /* bg-slate-900 */

      .trix-button {
          filter: invert(100%);
        }
    }
  }

  .trix-content {
      background-color: #0f172a;
      border-color: #344155;
  }
}