/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/
trix-toolbar {
  margin-top: 2em;
  position: sticky;
}

trix-toolbar .trix-button.trix-button--icon {
  border: 0;
}

trix-toolbar .trix-button-group {
  border: 0;
}

trix-toolbar .trix-button-group:not(:first-child) {
  margin-left: 0;
}

.trix-button-row {
  margin-left: -0.5em;
}

.trix-content {
  border-color: var(--color-slate-300);
  border-radius: var(--radius-lg);

  h1 strong {
    font-weight: bold;
  }

  /*
  * We need to override trix.css's image gallery styles to accommodate the
  * <action-text-attachment> element we wrap around attachments. Otherwise,
  * images in galleries will be squished by the max-width: 33%; rule.
  */
  .attachment-gallery > action-text-attachment,
  .attachment-gallery > .attachment {
    flex: 1 0 100%;
    padding: 0 0.5em;
    max-width: 100%;
  }

  .attachment-gallery.attachment-gallery--2 > action-text-attachment,
  .attachment-gallery.attachment-gallery--2 > .attachment {
    flex: 1 0 50%;
    max-width: 50%;
  }

  .attachment-gallery.attachment-gallery--3 > action-text-attachment,
  .attachment-gallery.attachment-gallery--3 > .attachment {
    flex: 1 0 33%;
    max-width: 33%;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 36rem;
  }
}

trix-editor[placeholder]::before {
  color: var(--color-slate-300);
}

trix-editor {
  max-width: 100% !important;
  min-height: 300px;
  padding-bottom: 1.5em;
  color: var(--color-slate-800);
  line-height: 1.75em !important;

  /* Fix aspect ratio for Trix attachment images */
  figure[data-trix-attachment] img {
    aspect-ratio: auto !important;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 36rem !important;
  }

  .attachment__caption {
    text-align: center;
  }

  figcaption.attachment__caption {
    text-align: center !important;
  }

  li {
    margin: 0.5rem 0 0.5rem 1rem !important;
    &:first-child {
      margin: 0 0 0 1rem !important;
    }
  }

  ol, ul {
    margin: 1.25em 0 1.25em 1.25em !important;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  li::marker {
    color: #5d646f;
  }

  h1 {
    font-weight: 700;
  }

  a {
    font-weight: 500;
    text-decoration: underline;
  }

  blockquote {
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
  }

  pre {
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
    background-color: rgb(2 6 23) !important; /* bg-slate-950 */
    color: rgb(203 213 225); /* text-slate-300 */
    font-size: 0.9rem !important;
    text-wrap: wrap !important;

    a {
      color: white;
    }
  }
}

.trix-minimal {
  .trix-button-group--block-tools,
  .trix-button-group--file-tools,
  .trix-button-group--history-tools,
  .trix-button-group-spacer,
  .trix-button--icon-strike,
  .trix-button--icon-color {
    display: none;
  }
}

.trix-no-attachments {
  .trix-button--icon-attach {
    display: none;
  }
}

/* Workarounds for issues with Trix and Tailwind in dark mode */
@media (prefers-color-scheme: dark) {
  .trix-content {
    color: var(--color-slate-300);
    background-color: var(--color-slate-900);
    border-color: var(--color-slate-600);

    strong, b, i, em, a, h1, h2, h3, h4, h5, h6 {
      color: #fff !important;
    }

    blockquote {
      color: #fff;
    }
  }

  trix-editor[placeholder]::before {
    color: var(--color-slate-600);
  }

  li::marker {
    color: #9ba1aa;
  }

  .trix-input--dialog {
    color: black;
  }

  .trix-button-row {
    .trix-button-group {
      background-color: var(--color-slate-900) !important;

      .trix-button {
          filter: invert(100%);
        }
    }
  }
}