/* Trix styles */

trix-toolbar {
  margin-top: 2em;
  position: sticky;
}

trix-toolbar .trix-button.trix-button--icon {
  border: 0;
}

trix-toolbar .trix-button-group {
  border: 0;
}

trix-toolbar .trix-button-group:not(:first-child) {
  margin-left: 0;
}

.trix-button-row {
  margin-left: -0.5em;
}

.trix-content .attachment--preview img {
  display: inline;
}

@media (prefers-color-scheme: dark) {
  trix-toolbar .trix-button.trix-button--icon {
    color: #ffffff;
  }

  /* Targeting SVG icons within the Trix toolbar buttons */
  trix-toolbar .trix-button--icon::before {
    color: #ffffff;
    fill: white;
  }
  trix-toolbar .trix-button.trix-button--icon svg {
    fill: #ffffff; /* Change icon color */
    color: white;
  }
}


/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-800 dark:text-gray-100 bg-gray-200 rounded-lg hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 cursor-pointer;
  }

  .btn-secondary {
    @apply inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-800 dark:text-gray-100;
  }

  .btn-danger {
    @apply inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-800 hover:text-white dark:text-gray-100 bg-gray-200 rounded-lg hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-red-700 dark:focus:ring-gray-800 cursor-pointer;
  }
}

@layer base {
  article .trix-content p {
    @apply mb-4;
  }

  .prose {
    /* Override Tailwind prose which wraps code in backticks */
    code:before, code:after {
      content: "";
    }

    img {
      @apply my-2 mx-auto;
    }

    blockquote {
      @apply my-2;
    }

    h1 {
      @apply mt-0 mb-6 text-3xl;
    }
  }

  /* Pagy pagination */
  span.page.next > a, span.page.prev > a {
    @apply underline;
  }

  .admin {
    span.page.next > a, span.page.prev > a {
      @apply no-underline;
    }
  }

  .admin .pagy {
    @apply flex space-x-1 font-semibold text-sm text-slate-500 dark:text-slate-600;
    .page {
      a {
        @apply block rounded-lg px-3 py-1 dark:text-slate-400 bg-slate-200 dark:bg-slate-700;
        &:hover {
          @apply bg-gray-300 dark:bg-slate-500 dark:text-slate-200;
        }
      }
      &.active a {
        @apply text-white bg-slate-400 dark:text-slate-200 dark:bg-slate-600 cursor-default;
      }
      &.disabled a {
        @apply text-gray-300 bg-gray-100 dark:bg-slate-800 dark:text-slate-600 cursor-default;
      }
      &.gap { }  /* if you need to customize it */

    }

    .pagy-combo-input, &.pagy-items-selector-js {
      @apply inline-block whitespace-nowrap bg-gray-200 dark:bg-slate-700 rounded-lg px-3 py-0.5;
      input {
        @apply bg-gray-100 dark:bg-slate-700 border-none rounded-md;
      }
    }
  }
}
