/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */
img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

body {
  background-color: #f6f6f6;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

table {
  border-collapse: separate;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  width: 100%; }
  table td {
    font-family: sans-serif;
    font-size: 16px;
    vertical-align: top; }

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */

.body {
  background-color: #f6f6f6;
  width: 100%; }

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block;
  padding:  0 !important;
  margin: 0 auto !important;
  /* makes it centered */
  max-width: 600px;
  width: 600px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 600px;
  padding: 24px 0; }

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background: #ffffff;
  border-radius: 3px;
  width: 100%; }

.wrapper {
  box-sizing: border-box;
  padding: 1rem; }

.content-block {
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer {
  clear: both;
  margin-top: 10px;
  text-align: center;
  width: 100%; }
  .footer td,
  .footer p,
  .footer span,
  .footer a {
    color: #999999;
    font-size: 12px;
    text-align: center; }

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 30px; }

h1 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize; }

p,
ul,
ol {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  margin: 15px 0; }
  p li,
  ul li,
  ol li {
    list-style-position: outside;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
  }

a {
  color: #4bb193;
  font-weight: 600;
  text-decoration: underline; }


/* -------------------------------------
    DIGEST
------------------------------------- */
.digest .post-content h1 {
  font-weight: 700;
  text-align: left;
  font-size: 18px !important;
  line-height: 1.6rem;
  margin-bottom: 0 !important;
}


.digest h2 {
  font-weight: 700;
  font-size: 24px !important;
  margin-bottom: 1.4rem !important;
}

.digest h2 a {
  font-weight: 700;
  font-size: 24px !important;
}

.digest a {
  color: #000000;
  text-decoration: none;
}

.digest blockquote {
  border-left: 2px solid #ccc;
  margin-left: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  font-style: italic;
}

.digest code:not([data-language]) {
  background: #f6f8fa;
  padding: 1px;
  font-size: 95%;
}

.digest pre, .digest code[data-language] {
  background: #f6f8fa;
  border-radius: 3px;
  font-family: monospace;
  font-size: 85%;
  padding: 1rem;
  margin: 1.5rem 0;
}

.digest .post-content {
  padding-bottom: 1.5rem !important;
}

.digest .post-content a {
  color: #000000;
  font-weight: 600;
  text-decoration: underline;
}

.digest .digest-footer {
  font-size: 14px;
}

.digest .digest-footer a {
  text-decoration: underline;
  font-size: 14px !important;
}

.digest .post {
  padding-bottom: 4rem !important;
}

.post-timestamp {
  font-size: 14px !important;
}

.post-timestamp a {
  color: #888;
  font-weight: 400;
  font-size: 14px !important;
}

.post-content figure {
  text-align: center;
}

.post-content figcaption {
  color: #888;
  font-size: 14px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* -------------------------------------
    BUTTONS
------------------------------------- */
.btn {
  box-sizing: border-box;
  width: 100%; }
  .btn > tbody > tr > td {
    padding-bottom: 15px; }
  .btn table {
    width: auto; }
  .btn table td {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center; }
  .btn a {
    background-color: #ffffff;
    border: solid 1px #000000;
    border-radius: 5px;
    box-sizing: border-box;
    color: #3498db;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: capitalize; }

.btn-primary table td {
  background-color: #4fbd9c; }

.btn-primary a {
  background-color: #4fbd9c;
  border-color: #4fbd9c;
  color: #ffffff; }

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0; }

.first {
  margin-top: 0; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.clear {
  clear: both; }

.mt0 {
  margin-top: 0; }

.mb0 {
  margin-bottom: 0; }

.preheader {
  color: transparent;
  display: none;
  height: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
  visibility: hidden;
  width: 0; }

.powered-by a {
  text-decoration: none; }

hr {
  border: 0;
  border-bottom: 1px solid #f6f6f6;
  Margin: 20px 0; }

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 620px) {
  body {
    background-color: #ffffff !important; /* Change background to white on mobile */
  }

  .body {
    background-color: #ffffff !important; /* Change background to white on mobile */
  }
  table[class=body] h2 {
    font-size: 24px !important;
  }
  table[class=body] p,
  table[class=body] ul,
  table[class=body] ol,
  table[class=body] td,
  table[class=body] span,
  table[class=body] a {
    font-size: 16px !important; }
  table[class=body] h2 a {
    font-size: 24px !important;
  }
  table[class=body] .wrapper {
  }
  table[class=body] .article {
    padding: 10px !important; }
  table[class=body] .content {
    padding: 0 !important; }
  table[class=body] .container {
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important; /* Ensure container takes full width */
  }
  table[class=body] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
    width: 100% !important;
    max-width: 100% !important; /* Ensure main content takes full width */
  }
  table[class=body] .btn table {
    width: 100% !important; }
  table[class=body] .btn a {
    width: 100% !important; }
  table[class=body] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important; }}

/* -------------------------------------
    PRESERVE THESE STYLES IN THE HEAD
------------------------------------- */
@media all {
  .ExternalClass {
    width: 100%; }
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass span,
  .ExternalClass font,
  .ExternalClass td,
  .ExternalClass div {
    line-height: 100%; }
  .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important; }
  .btn-primary table td:hover {
    background-color: #4bb193 !important; }
  .btn-primary a:hover {
    background-color: #4bb193 !important;
    border-color: #4bb193 !important; } }
