/* Override tagify CSS variables */
.tagify {
  --tag-bg: #e2e8f0 !important;
  --tag-text-color: #1e293b !important;
  --tag-invalid-color: #1e293b !important;
  --tag-hover: #cbd5e1 !important;
  --tag-remove-bg: oklch(86.9% 0.022 252.894) !important;
  --tag-remove-btn-bg--hover: #1e293b !important;
  --tags-focus-border-color: oklch(55.4% 0.046 257.417) !important;  /* slate-500 */
}

@media (prefers-color-scheme: dark) {
  .tagify {
    --tag-bg: #334155 !important;
    --tag-text-color: #e2e8f0 !important;
    --tag-invalid-color: #e2e8f0 !important;
    --tag-hover: #475569 !important;
    --tag-remove-bg: #475569 !important;
    --tag-remove-btn-color: #94a3b8 !important;
    --tag-remove-btn-bg--hover: #1e293b !important;
 }
}

tags {
  border-radius: 0.375rem !important; /* rounded-md */
}