<%= render "blogs/header", hide_email_form: true, hide_bio: true %>

<div class="lexxy-content">
  <article class="overflow-auto break-words">
    <h2>
      Page Not Found 🥺
    </h2>
    <p>
      Sorry, the page you're looking for doesn't exist.
    </p>
  </article>
</div>