<%= render "blogs/header", hide_email_form: true, hide_bio: true %>

<article class="prose overflow-auto break-words">
  <h1>
    Page Not Found 🥺
  </h1>
  <p>
    Sorry, the page you're looking for doesn't exist.
  </p>
</article>