<%= render "blogs/header", hide_email_form: true, hide_bio: true %>

<div class="lexxy-content">
  <article class="overflow-auto break-words">
    <h2>
      Slow down!
    </h2>
    <p>
      You've made too many requests. Please try again in a little while.
    </p>
  </article>
</div>
