<div class="email mt-4 bg-slate-100 dark:bg-slate-800 p-4 rounded-lg sm:mx-12 text-sm">
  <%= turbo_frame_tag "email_subscriber_form" do %>
    <%= render "blogs/email_subscribers/form" %>
  <% end %>
</div>