<div class="mb-12 pb-4 border-b border-b-slate-300-100 dark:border-b-slate-600">
  <% if @blog.avatar&.attached? %>
    <%= render "avatar_header" %>
  <% else %>
    <%= render "no_avatar_header" %>
  <% end %>

  <% if @blog.bio.present? %>
  <div class="mt-4 text-sm prose dark:prose-invert text-slate-500 dark:text-slate-400 break-words">
    <%= auto_link @blog.bio %>
  </div>
  <% end %>
</div>