<% if post.is_page? %>
  <%= render_post_content(post) %>
<% else %>
  <div class="lexxy-content e-content" data-controller="syntax-highlight">
    <%= render_post_content(post) %>
  </div>
<% end %>
