<div class="text-size-standard">
  <%= auto_link post.content,
        sanitize_options: {
          tags: %w[figure img figcaption action-text-attachment] + Rails::Html::SafeListSanitizer.allowed_tags.to_a
        } %>
</div>
