<div class="list-of-titles flex flex-col gap-y-1" data-turbo="false">
  <% previous_year = nil %>
  <% @posts.each do |post| %>
    <% if post.published_at.year != previous_year %>
      <div class="text-lg font-semibold mb-2 text-slate-900 <%= 'mt-6' unless previous_year.nil? %>">
        <%= post.published_at.year %>

        <% previous_year = post.published_at.year %>
      </div>
    <% end %>

    <div class="flex gap-x-4">
      <div class="text-slate-500 dark:text-slate-400 w-14 flex-shrink-0">
        <%= post.published_at.to_date.to_formatted_s(:short) %>
      </div>
      <div>
        <%= link_to post_title(post), post_path(post), class: "font-medium hover:underline" %>
      </div>
    </div>
  <% end %>
</div>
