<article class="post h-entry">
  <%= render "post_title", post: post %>
  <div class="lexxy-content e-content">
    <%= render_post_excerpt(post) %>
    <p class="excerpt-read-more">
      <%= link_to t('posts.read_more'), post_path(post), data: { turbo_frame: "_top" } %>
    </p>
  </div>
  <%= render "post_footer", post: post %>
</article>
