<%= turbo_frame_tag :posts do %>
  <div data-controller="media-embeds turbo-frame-top">
    <%= render partial: "stream_post", collection: @posts, as: :post %>
  </div>

  <% if @pagy.next %>
    <% if custom_domain_request? %>
      <%= turbo_frame_tag :posts, src: custom_blog_posts_path(page: @pagy.next), loading: :lazy %>
    <% else %>
      <%= turbo_frame_tag :posts, src: blog_posts_path(name: @blog.name, page: @pagy.next), loading: :lazy %>
    <% end%>
  <% end %>
<% end %>
