<% if post&.tag_list.present? %>
  <div class="tags-container">
    <% post.tag_list.each do |tag| %>
      <%= link_to tag, tag_filter_url(tag), class: "tag tag-link" %>
    <% end %>
  </div>
<% end %>
