<div class="mb-12 pb-4 border-b border-b-slate-300-100 dark:border-b-slate-600">
  <% if @blog.avatar&.attached? %>
    <%= render "avatar_header" %>
  <% else %>
    <%= render "no_avatar_header" %>
  <% end %>
</div>

<div data-controller="media-embeds">
<%= render @post %>
</div>
