<div class="md:mt-4 mb-4 md:mb-8 mx-auto max-w-4xl px-4">
  <div class="my-8 text-center flex flex-col md:flex-row gap-3 justify-center items-center">
    <%= link_to new_signup_path do %>
      <div class="inline-flex font-medium p-4 rounded-xl shadow-sm btn-primary text-xl">Create your free Pagecord account</div>
    <% end %>
    <%= link_to spotlight_path do %>
      <div class="inline-flex font-medium p-4 rounded-xl border border-slate-300 dark:border-slate-600 text-slate-800 dark:text-slate-200 text-xl">See Spotlight</div>
    <% end %>
  </div>
</div>
