<% content_for :title, "Pagecord FAQ" %>

<div class="prose dark:prose-invert mb-12 px-4">
  <h1 class="text-center">Frequently asked questions</h1>

  <h3>How does Pagecord work?</h3>
  <p>
    <%= link_to "Create an account", new_signup_path %> by choosing a username and supplying your email address. Once you verify
    your email, you'll receive a secret email address. Emails sent to this secret address from the email address you give us will
    appear as posts on your Pagecord page. If you prefer, you can log in to your account and create posts directly in the app.
  </p>
  <p>
    Your Pagecord page is a public profile that anyone can view. It looks like <a href="https://pagecord.com/pagecord">https://pagecord.com/pagecord</a>.
  </p>

  <h3>Is there a way of creating posts without sending an email?</h3>
  <p>
    Yes! Log into your account and click the <strong>New Post</strong> button to use our delightful in-app editor! ✍️
  </p>

  <h3>Do I own the content that I post?</h3>
  <p>
    Yes. As long as what you post is your own work, you own it (posting copyrighted material that you don't own <a href="https://pagecord.com/terms">is a no-no</a>). Pagecord does not claim ownership of any content you post.
  </p>

  <h3>Can I add a bio to my page?</h3>
  <p>
    Yep! <%= link_to "Log in", login_path %> and in the <strong>Account</strong> section you'll see a field to add a bio to your profile.
  </p>

  <h3>Can I include images in my posts?</h3>
  <p>
    Premium subscribers can attach images to emails which Pagecord processes and hosts for you.
  </p>
  <p>
    Free customers can include a URL to an existing image (e.g. https://example.com/image.gif)
    in the body of your email and Pagecord will render the image in the post. There are plenty of
    free image hosting sites out there such as <a href="https://postimages.org/">PostImage</a>.
  </p>

  <h3>Can I embed media?</h3>
  <p>
    Yes! If you include a link to a YouTube video, a Spotify or Apple Music album/playlist/track, or a Bandcamp album/track in your email, Pagecord will
    embed the media in the post.
  </p>

  <h3>How can I edit a post?</h3>
  <p>
    <%= link_to "Log in", login_path  %> and click the post title to edit the post.
  </p>

  <h3>How do I delete a post?</h3>
  <p>
    <%= link_to "Log in", login_path  %> to your account and you'll see a list of posts. Click the title to edit the post, then click the trash icon to delete it.
  </p>

  <h3>Can I make a post without a title?</h3>
  <p>
    Yes, just send an email with the post content in either the email subject or the body.
  </p>

  <h3>Can I export my posts</h3>
  <p>
    Yes! Head to <code>Settings > Exports</code> where you can download a ZIP file containing your entire site in delightfully retro HTML files and images.
  </p>

  <h3>Does Pagecord support RSS?</h3>
  <p>
    Yes. Just append <span class="font-mono">.rss</span> to the end of a profile page, e.g. <a href="https://pagecord.com/pagecord.rss">https://pagecord.com/pagecord.rss</a>
  </p>

  <h3>Can I follow other accounts?</h3>
  <p>
    Yes! If you're logged into your Pagecord account, you will see a "Follow" button when you view another
    Pagecord. You can view all the posts of the accounts you follow in the Feed section of your
    account.
  </p>
  <p>
    You can also subscribe to someone's Pagecord by RSS (as well as your private feed). RSS is awesome, you should check out
    <a href="https://feedgrab.net">Feedgrab</a> - a beautifully simple all-in-one reader I built! 🤙
  </p>

  <h3 id="dns">How do I set up DNS for a custom domain?</h3>
  <p>
    If you're a paying customer, you can use your own domain name for your Pagecord. To host your Pagecord on a root domain
    (e.g. mydomain.com) you'll need to create the following DNS records:
  </p>
  <table>
    <thead>
      <tr>
        <th>Record Type</th>
        <th>Name</th>
        <th>Content</th>
        <th>TTL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CNAME</td>
        <td><strong>@</strong></td>
        <td>proxy.pagecord.com</td>
        <td>3600</td>
      </tr>
      <tr>
        <td>CNAME</td>
        <td><strong>www</strong></td>
        <td>proxy.pagecord.com</td>
        <td>3600</td>
      </tr>
    </tbody>
  </table>

  <p>
    If you want your Pagecord on subdomain (eg: https://blog.mydomain.com), you'll need to create the following DNS records instead:
  </p>

  <table>
    <thead>
      <tr>
        <th>Record Type</th>
        <th>Name</th>
        <th>Content</th>
        <th>TTL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CNAME</td>
        <td><strong>blog</strong></td>
        <td>proxy.pagecord.com</td>
        <td>3600</td>
      </tr>
    </tbody>
  </table>

  <p>
    <em>Note: If you're using Cloudflare to manage DNS, you need to set SSL/TLS mode to <strong>Full (Strict)</strong> or disable the proxy (the orange cloud).</em>
  </p>

  <h3>What is your refund policy?</h3>
  <p>
    If you've paid for an account and you decide you're unhappy with it, we'll refund your money if you've
    been a subscriber for less than a month. No questions asked (although we'd love to know why you didn't like it).
  </p>

  <h3>Can I downgrade my account?</h3>
  <p>
    Yes. Cancel your subscription and once it lapses you'll be downgraded to a free account.
  </p>

  <h3>How do I delete my account?</h3>
  <p>
    Log in, click the "Delete account" button at the bottom of the screen. This will
    display a confirmation, but once you confirm your account will be deleted immediatey.
  </p>
</div>