<% content_for :title, "Pagecord FAQ" %>

<div class="prose dark:prose-invert mb-12 px-4">
  <h1 class="source-serif font-semibold tracking-tight text-4xl">Frequently asked questions</h1>

  <p class="text-lg">
    For detailed guides and tutorials, visit our <a href="https://help.pagecord.com" class="home-link">Help Guide</a>.
  </p>

  <h3 id="what-does-pagecord-mean" class="source-serif font-semibold text-2xl">What does Pagecord mean?</h3>
  <p>
    There's a blog post for that! <a href="https://blog.pagecord.com/what-is-the-meaning-of-pagecord">What is the meaning of "pagecord"?</a>
  </p>

  <h3 id="how-does-pagecord-work" class="source-serif font-semibold text-2xl">How does Pagecord work?</h3>
  <p>
    <%= link_to "Create an account", new_signup_path, class: "home-link" %> by choosing a subdomain for your blog and supplying your email address. Once you verify
    your email, you'll receive a secret email address. Emails sent to this secret address from the email address you give us will
    appear as posts on your Pagecord page. If you prefer, you can log in to your account and create posts directly in the app.
  </p>
  <p>
    Your Pagecord page is a public profile that anyone can view. It looks like <a href="https://pagecord.com/blog" class="home-link">https://pagecord.com/blog</a>.
  </p>
  <p>
    <a href="https://help.pagecord.com/getting-started-with-pagecord" class="home-link">Read the Getting Started guide</a>
  </p>

  <h3 id="content-ownership" class="source-serif text-2xl font-semibold">Do I own the content that I post?</h3>
  <p>
    Yes. As long as what you post is your own work, you own it (posting copyrighted material that you don't own <a href="https://pagecord.com/terms" class="home-link">is a no-no</a>). Pagecord does not claim ownership of any content you post.
  </p>

  <h3 id="rss-support" class="source-serif text-2xl font-semibold">Does Pagecord support RSS?</h3>
  <p>
    Yes. Just append <span class="font-mono">/feed.xml</span> to any blog's domain, e.g. <a href="https://blog.pagecord.com/feed.xml" class="home-link">https://blog.pagecord.com/feed.xml</a>
  </p>
  <p>
    <a href="https://help.pagecord.com/rss" class="home-link">Learn more about RSS feeds</a>
  </p>

  <h3 id="importing-blog" class="source-serif text-2xl font-semibold">Can I import my blog from another platform?</h3>
  <p>
    Yes, but it's not self-serve. <a href="mailto:hello@pagecord.com?subject=Blog%20Import%20Request" class="home-link">Contact support</a> and we'll look into it for you. We've already done this from WordPress, Ghost, static sites and others. A premium subscription is required to proceed with an import.
  </p>
  <p>
    <a href="https://help.pagecord.com/importing-your-blog" class="home-link">Learn more about importing</a>
  </p>

  <h3 id="refund-policy" class="source-serif text-2xl font-semibold">What is your refund policy?</h3>
  <p>
    For annual subscriptions, we'll refund your money if you've been a subscriber for less than a month.
    No questions asked (although we'd love to know why you didn't like it).
    Monthly subscriptions are non-refundable.
  </p>

  <h3 id="change-plan" class="source-serif text-2xl font-semibold">Can I change my subscription plan?</h3>
  <p>
    Monthly subscribers can upgrade to annual at any time from the billing settings page. You'll be charged a prorated amount for the remaining time on your monthly plan.
  </p>
  <p>
    To switch from annual to monthly, let your annual subscription run out and then resubscribe on the monthly plan.
  </p>

  <h3 id="data-storage" class="source-serif text-2xl font-semibold">Where is my data stored?</h3>
  <p>
    Pagecord is hosted on servers run by <a href="https://hetzner.cloud/?ref=cZJ4pqOEU3g9" class="home-link">Hetzner</a>, in their <a href="https://www.hetzner.com/unternehmen/rechenzentrum/" class="home-link">Nuremberg, Germany data centre</a>. Your blogs posts are stored in a database here. Any images you attach to your posts (Premium customers) are stored in <a href="https://www.cloudflare.com/en-gb/developer-platform/products/r2/" class="home-link">Cloudflare's R2 Object Storage</a>, in their Western Europe (WEUR) data centre. Database backups are also stored in R2.
  </p>
  <p>
    Pagecord traffic is proxied through Cloudflare to provide additional security and performance benefits for
    our customers who come from all corners of the globe.
  </p>
</div>
