<% content_for :title, "FAQ" %>

<div class="prose dark:prose-invert mb-12">
  <h2>Frequently asked questions</h2>

  <h3>How does Pagecord work?</h3>
  <p>
    <%= link_to "Create an account", new_signup_path %> by choosing a username and supplying your email address. Once you verify
    your email, you'll receive a secret email address. Emails sent to this secret address from the email address you give us will
    appear as posts on your Pagecord page.
  </p>
  <p>
    Your Pagecord page is a public profile that anyone can view. It looks like <a href="https://pagecord.com/pagecord">https://pagecord.com/pagecord</a>.
  </p>

  <h3>Can I add a bio to my page?</h3>
  <p>
    Yep! <%= link_to "Log in", login_path %> and you'll see a field to add a bio to your profile.
  </p>

  <h3>Can I include images in my posts?</h3>
  <p>
    Sort of. Any attached/embedded images in the email you send will be ignored,
    but if the text includes a URL to an existing image (e.g. https://example.com/image.gif)
    Pagecord will do its best to display it in the post. This is rather experimental so <abbr title="Your Mileage May Vary">YMMV</abbr>.
  </p>

  <h3>How do I delete a post?</h3>
  <p>
    <%= link_to "Log in", login_path  %> to your account and you'll see a list of posts. Click the trash icon next
    to a post to delete it.
  </p>

  <h3>How can I edit a post?</h3>
  <p>
    Log into your Pagecord account and delete the post. Send a new email with the edits.
  </p>

  <h3>Can I make a post without a title?</h3>
  <p>
    Yes, just send an email with the post content in either the email subject or the body.
  </p>

  <h3>Can I export my posts</h3>
  <p>
    No, but they will all be in the Sent Items folder of your email account 👌
  </p>

  <h3>Can I follow other accounts?</h3>
  <p>
    Yes, but there's no feed like you get on social media. Instead you can subscribe to someone's Pagecord by RSS and never miss a thing. RSS is awesome, you should try it! 🤙
  </p>

  <h3>Does Pagecord support RSS?</h3>
  <p>
    Yes. Just append <span class="font-mono">.rss</span> to the end of a profile page, e.g. <a href="https://pagecord.com/pagecord.rss">https://pagecord.com/pagecord.rss</a>
  </p>

  <h3>How do I delete my account?</h3>
  <p>
    Log in, click the "Delete account" button at the bottom of the screen. This will
    display a confirmation, but once you confirm your account will be deleted immediatey.
  </p>
</div>
