<div class="prose dark:prose-invert mb-12">
  <h2>Frequently asked questions</h2>

  <h3>How does Pagecord work?</h3>
  <p>
    <%= link_to "Create an account", new_signup_path %> by choosing a username and supplying your email address. Once you verify
    your email, you'll receive a secret email address. Emails sent to this secret address from the email address you give us will
    appear as posts on your Pagecord page.
  </p>
  <p>
    Your Pagecord page is a public profile that anyone can view. It looks like <a href="https://pagecord.com/pagecord">https://pagecord.com/pagecord</a>.
  </p>

  <h3>Why can't I post images?</h3>
  <p>
    This feature hasn't been implemented. You can only post HTML or plain text.
  </p>

  <h3>How can I delete a post?</h3>
  <p>
    <%= link_to "Log in", login_path  %> to your account and you'll see a list of posts. Click the trash icon next
    to a post to delete it.
  </p>

  <h3>How can I edit a post?</h3>
  <p>
    Delete the post and send an email with the edited post.
  </p>

  <h3>Can I make a post without a title?</h3>
  <p>
    Yes, just send an email with the post content in either the email subject or the body.
  </p>

  <h3>Can I export my posts</h3>
  <p>
    No, but they will all be in the Sent Items folder of your email account 👌
  </p>

  <h3>Does Pagecord support RSS?</h3>
  <p>
    Yes. Just append <span class="font-mono">.rss</span> to the end of your profile page, e.g. <a href="https://pagecord.com/pagecord">https://pagecord.com/pagecord.rss</a>
  </p>

  <h3>How do I delete my account?</h3>
  <p>
    Log in, click the "Delete account" button at the bottom of the screen. This will
    display a confirmation, but once you confirm your account will be deleted immediatey.
  </p>
</div>
