<%= content_for :title do %>
  Pagecord: Simple WordPress Alternative for Blogging
<% end %>

<%= content_for :meta_description do %>
  Looking for a WordPress alternative? Pagecord lets you blog by email with zero setup. Compare features vs WordPress and see why bloggers are switching.
<% end %>

<div class="prose dark:prose-invert mb-4 sm:mb-8 px-4">
  <h1 class="text-center">Pagecord: A Simple WordPress Alternative</h1>

  <p class="text-center text-lg">
    Pagecord is a great alternative to WordPress. Get started in seconds. Beautiful
    minimal themes out of the box. Independent and source available.
  </p>
  <p class="text-center text-lg">
    Here's a handy breakdown of the benefits of using Pagecord over WordPress.
  </p>

  <div class="overflow-x-auto">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="border border-slate-200 dark:border-slate-700 px-4 py-2 text-left">Feature</th>
          <th class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">Pagecord</th>
          <th class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">WordPress</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Source available</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Free version</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Standalone pages</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Custom domains</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Create blog posts by sending an email</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">❌</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Embed Spotify, Apple Music, Bandcamp, YouTube, GitHub, Strava links</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">❌</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Micro-blog posts without titles</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">❌</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Follow other accounts</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">❌</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Social links</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">❌</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Automatic email newsletters</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">❌<br>(plug-ins requried)</td>
        </tr>
        <tr>
          <td class="border border-slate-200 dark:border-slate-700 px-4 py-2">Effortless to get started</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">✅</td>
          <td class="text-center border border-slate-200 dark:border-slate-700 px-4 py-2">❌</td>
        </tr>

      </tbody>
    </table>
  </div>

  <p class="text-center">
    Sounds good, right? Give Pagecord a try today!
  </p>

  <div class="my-8 text-center not-prose">
    <%= link_to new_signup_path do %>
      <div class="mt-2 inline-flex font-semibold p-4 rounded-lg shadow-sm text-white bg-pagecord-accent">Create your FREE account now!</div>
    <% end %>
  </div>
</div>
