<%= content_for :title do %>
  Pagecord vs HEY World
<% end %>

<div class="prose dark:prose-invert mb-4 sm:mb-8">
  <h1 class="text-center">Pagecord vs HEY World</h1>

  <p>
    Pagecord is a great alternative to HEY World. They're both great apps for publishing blog posts from your inbox, but there are a bunch of key differences. Here's a handy breakdown.
  </p>

  <table class="table-auto">
    <thead>
      <tr>
        <th class="border px-4 py-2">Feature</th>
        <th class="text-center border px-4 py-2">Pagecord</th>
        <th class="text-center border px-4 py-2">HEY World</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">Create blog posts by email</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">✅</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Beautifully simple, mobile-friendly blog theme</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">✅</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">RSS support</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">✅</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Use any email provider (Gmail, Yahoo, Fastmail etc)</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">❌<br><span class="text-sm">(HEY only)</span></td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Embed Spotify, Apple Music, Bandcamp, YouTube, Strava links</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">❌</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Use your own domain name</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">❌</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Micro-blog posts without titles</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">❌</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Follow other accounts</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">❌</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Free version</td>
        <td class="text-center border px-4 py-2">✅</td>
        <td class="text-center border px-4 py-2">❌</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Premium version</td>
        <td class="text-center border px-4 py-2">$20/year</td>
        <td class="text-center border px-4 py-2">$99/year</td>
      </tr>
    </tbody>
  </table>

  <p class="text-center">
    Sounds good, right? Give Pagecord a try today!
  </p>

  <div class="my-8 text-center not-prose">
    <%= link_to new_signup_path do %>
      <div class="mt-2 inline-flex font-semibold p-4 rounded-lg shadow-sm text-white bg-bmc-pink">Sign up for FREE!</div>
    <% end %>
  </div>
</div>