<% content_for :title, "Pagecord Terms & Conditions" %>

<div class="prose dark:prose-invert mb-12 px-4">
  <h2 class="source-serif tracking-tight text-4xl">Terms of Use</h2>
  <p>
    Pagecord is an indie business. It's for writers who want to write. I would like it to be a healthy place.
  </p>
  <p>
    I don't need the grief that comes with bad actors.
  </p>
  <p>
    The following is NOT tolerated on Pagecord:
  </p>

  <ul>
    <li>Hate speech of any sort</li>
    <li>Harassment, bulling</li>
    <li>Impersonation</li>
    <li>Illegal content, or content promoting illegal behaviour</li>
    <li>Illegal conduct</li>
    <li>Technologically harmful content (e.g. malware, viruses)</li>
    <li>Copyright infringement (it should be your own work)</li>
    <li>Porn, gore, or anything similarly filthy or unpleasant</li>
    <li>Anything spammy, including gambling, crypto, advertising and spam backlinks</li>
  </ul>

  <p>
    There may be other things. These are just <em>guidelines</em> but you get the idea. Interpretations are solely up to us. If we believe these terms are being violated, the account will be deleted. Simples.
  </p>

  <p>
    If you want to report an account, please email <a href="mailto:abuse@pagecord.com" class="home-link">abuse@pagecord.com</a>.
  </p>
</div>
