<div class="prose dark:prose-invert mb-12">
  <h2>Terms of Use</h2>

  <p>
    Pagecord is an indie business. I would like it to be a healthy place, and I'd like to keep it a free/donationware service.
  </p>
  <p>
    I don't need the grief that comes with bad actors.
  </p>

  <p>
    The following is NOT tolerated on Pagecord:
  </p>

  <ul>
    <li>Hate speech of any sort</li>
    <li>Harassment, bulling</li>
    <li>Impersonation</li>
    <li>Illegal content, or content promoting illegal behaviour</li>
    <li>Illegal conduct</li>
    <li>Technologically harmful content (e.g. malware, viruses)</li>
    <li>Copyright infringement (it should be your own work)</li>
    <li>Spam</li>
  </ul>

  <p>
    There may be other things. These are just <em>guidelines</em> but you get the idea. Interpretations are solely up to us. If we believe the terms are being
    violated, the account will be deleted. Simples.
  </p>

  <p>
    If you want to report an account, please email <a href="mailto:abuse@pagecord.com">abuse@pagecord.com</a>.
  </p>
</div>
