<% content_for :title, "Pagecord Terms & Conditions" %>

<div class="prose dark:prose-invert mb-12 px-4">
  <h2 class="source-serif tracking-tight text-4xl">Terms of Use</h2>
  <p>
    Pagecord is an indie business. It's for writers who want to write. We would like it to be a healthy place.
  </p>
  <p>
    We don't need the grief that comes with bad actors.
  </p>
  <p>
    The following content is not tolerated on Pagecord:
  </p>

  <ul>
    <li>That which could be classed as <a href="https://en.wikipedia.org/wiki/Hate_speech" class="home-link">hate speech</a></li>
    <li>Harassment, bullying</li>
    <li>Impersonation</li>
    <li>Illegal content, or content promoting illegal behaviour</li>
    <li>Illegal conduct</li>
    <li>Technologically harmful content (e.g. malware, viruses)</li>
    <li>Copyright infringement (it should be your own work)</li>
    <li>Porn, gore, violence. NSFW content is probably better elsewhere.</li>
    <li>Anything spammy, including gambling, crypto, advertising and spam backlinks</li>
  </ul>

  <p>
    There may be other things. These are just <em>guidelines</em> but you get the idea. Interpretations are solely up to us. If we believe these terms are being violated, the account will be deleted.
  </p>

  <p>
    If you want to report an account, please email <a href="mailto:abuse@pagecord.com" class="home-link">abuse@pagecord.com</a>.
  </p>
</div>
