<header>
  <nav class="py-4 flex justify-between items-center">
    <div class="text-4xl font-bold text-slate-900 dark:text-slate-100 tracking-tight">
      <%= link_to root_path do %>
        <%= inline_svg_tag "logo.svg", class: "w-24 sm:w-40 dark:text-slate-100 text-slate-900" %>
      <% end %>
    </div>
    <div class="flex items-center space-x-4">
      <%= link_to "Features", "#features", class: "font-medium underline" %>
      <%= link_to "Log In", login_path, class: "font-medium underline" %>
    </div>
  </nav>
</header>
