<header>
  <nav class="p-4">
    <div class="mt-12 sm:mt-16 text-4xl text-center font-bold text-slate-900 dark:text-slate-100 tracking-tight">
      <%= link_to root_path do %>
        <%= inline_svg_tag "logo.svg", class: "w-64 mx-auto dark:text-slate-100 text-slate-100" %>
      <% end %>
    </div>
  </nav>
</header>
