<header>
  <nav class="py-4 flex justify-between items-center text-slate-900 dark:text-slate-100 font-medium">
    <div>
      <%= link_to root_path do %>
        <%= inline_svg_tag "logo.svg", class: "w-24 sm:w-40 dark:text-slate-100 text-slate-900" %>
      <% end %>
    </div>
    <div class="flex items-center space-x-4 me-2">
      <%= link_to "Features", "#features", class: "underline" %>
      <%= link_to "Log In", login_path, class: "underline" %>
    </div>
  </nav>
</header>
