<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex flex-col min-h-screen bg-white dark:bg-slate-900">
    <header>
    </header>
    <main class="container mx-auto px-5 flex flex-grow">
      <div class="max-w-xl w-full mx-auto mt-12 dark:text-slate-100 text-slate-900">
        <%= yield %>
      </div>
    </main>

    <footer class="w-full flex flex-col text-center p-8 text-sm text-slate-400 dark:text-slate-500">
      <% unless custom_domain_request? %>
        <%= link_to root_path do %>
          <%= inline_svg_tag "logo.svg", class: "w-[100px] mt-8 inline-flex dark:text-slate-100 text-slate-900" %>
        <% end %>
      <% end %>
    </footer>
  </body>
</html>
