<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex flex-col min-h-screen bg-white dark:bg-slate-900">
    <header>
    </header>
    <main class="container mx-auto px-5 flex flex-grow">
      <%= yield %>
    </main>

    <footer class="w-full flex flex-col text-center p-8 text-sm text-slate-400 dark:text-slate-500">
      <%= link_to root_path do %>
        <%= inline_svg_tag "logo.svg", class: "w-[100px] mt-8 inline-flex dark:text-white text-black" %>
      <% end %>
    </footer>
  </body>
</html>
