<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
    <script src="https://cdn.paddle.com/paddle/v2/paddle.js"></script>
    <script type="text/javascript">
      document.addEventListener('turbo:load', function() {
        <% if Rails.env.development? %>
          Paddle.Environment.set("sandbox")
          Paddle.Initialize({
            token: "test_945b246ef8df8bfe446632bf70b"
          })
        <% else %>
          Paddle.Environment.set("production")
          Paddle.Initialize({
            token: "live_8d79ebbaac5c745a173f00967fb"
          })
        <% end %>
      })
    </script>
    <script defer data-domain="pagecord.com" src="https://plausible.io/js/script.js"></script>
  </head>

  <body class="flex flex-col min-h-screen bg-white dark:bg-slate-900">
    <div class="px-4">
      <%= render "layouts/header" %>
    </div>

    <main class="flex flex-grow text-slate-950 dark:text-slate-50">
      <div class="mx-auto mt-8">
        <%= yield %>
      </div>
    </main>

    <%= render "layouts/footer" %>
   </body>
</html>
